.link{
  border: none;
  text-align: center;
  text-decoration: none;
   display: inline-block;
  justify-content: center;
  background-color:#0081A7 ;
  color: white;
  margin:.4rem;
  padding: .4rem;
  border-radius: 10px;
  cursor: pointer;
  width: 4.5rem;
  font-size: 1rem;
}
.link:hover{
 background-color:  #363953;
 
}