.container{
  display: flex;
  flex-direction: column; 
  color: #363953 ;
  
}

.company{
  font-weight: bold;
    margin: 0 0 0.5rem 0;
    font-size: 1.5rem;
}
.role{
  margin: 0 0 2rem 0;
  color: #0081A7 ;
}
span{
  color: #363953 ;
}



